.active {
    background: linear-gradient(45deg, #4297A0, #0db27d);
    color: white;
    font-weight: bold;
}

.bg-ivory {
    background-color: #F4EAE6;
}
.bg-peachy {
    background: linear-gradient(45deg, #e44a51, #f36831);
}

.box-contacts {
    background: linear-gradient(90deg, #4297A0, #0db27d);
    padding: 50px 0px;
    color: white;
    font-weight: bold;
    border-radius: 0.3em;
}
.box-inspections {
    background: linear-gradient(45deg, #e44a51, #ff9064);
    padding: 50px 0px;
    color: white;
    font-weight: bold;
    border-radius: 0.3em;
}
.box-properties {
    background: linear-gradient(87deg, #242c6a, #066eec);
    padding: 50px 0px;
    color: white;
    font-weight: bold;
    border-radius: 0.3em;
}

.box-shadow {
    box-shadow: 1px 1px 6px 0px lightgrey;
}

.contains {
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    color: teal;
    font-weight: 600;
}
.contains div.flex {
    border-bottom: 0.5px solid teal;
    padding: 13px 30px;
}
.contains div.flex:last-child {
    border-bottom: none;
}
.contains div.flex:nth-child(even) {
    background: rgba(43, 124, 124, 0.186);
    color: teal;
}
.contains div p {
    text-align: right;
}

.dark-ivory {
    background-color: #ead8d1;
}

.icon:hover i.fa {
    color: white;
}

.list:hover {
    border: 1px solid #0b8c8c;
    background-color: white;
    color: #0b8c8c;
    /* font-weight: bold; */
    transition: 1s ease-in-out;
    padding-left: 1rem;
    padding-right: 1rem;
}

.misty-blue {
    background-color: #2b5164;
}

.pattaya {
    font-family: 'Pattaya', sans-serif;
}

#result div {
    height: 15rem;
}
#result div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.sidebar > a:hover {
    background-color: #eee;
}

table.dataTable.no-footer{
    /* border: 1px solid #dee2e6; */
    border-radius: 5px;
    border-bottom: none;
}
table.dataTable thead th {
    border-bottom: none;
    color: white;
    padding: 15px 10px;
    background-color: #049e9e;
}
table.dataTable tbody tr.odd {
    background-color: #F4F5F7;
}
table.dataTable tbody td {
    color: #5c6662; /*#dee2e6*/
    font-size: 14px;
    padding: 15px 10px;
    border-top: 1px solid #dee2e6;
}
/* table.dataTable tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
table.dataTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
} */
table.dataTable thead tr th:first-child {
    border-top-left-radius: 5px;
}
table.dataTable thead tr th:last-child {
    border-top-right-radius: 5px;
}
table.dataTable thead .sorting {
    background-image: none;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #015252 !important;
    font-size: 13px;
    font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: teal;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid teal;
    color: teal;
    background: white
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    font-size: 13px;
    color: #015252;
    font-weight: 600;
}
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    margin: 0px 10px;
    border: 1px solid #418f8f;
    border-radius: 3px;
}
.text-teal {
    color: #03989E;
}
.text-darkteal {
    color: #077277;
}

.table-container {
    box-shadow: 1px 0px 7px 4px #e8e8e88a;
}
.table-container:hover {
    box-shadow: 1px 0px 7px 4px #d7d7d78a;
}

.small-table th {
    font-weight: 700;
    color: #454545;
    padding: 5px 1rem;
    border-bottom: 1px solid #45454529;
    border-top: 1px solid #45454529;

}
.small-table td {
    color: rgb(1, 48, 48);
    font-weight: 400;
    padding: 5px 1rem;
}
.small-table tbody tr:nth-child(even) {
    background-color: #bbbbbb41;
}
